@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #444;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pokedex{
  width: 900px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.tela{
  position: absolute;
  top: 23.3%;
  left: 28.5%;
  width: 43%;
  height: 26%;
  color: #ffffff;
  background-color: #1e3a5f;
  border: 3px solid #60a5fa;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.barraPesquisa {
  position: absolute;
  width: 31%;
  top: 19.3%;
  left: 43%;
  height: 2%;
  background-color: #fff;
  color: black;
  border-radius: 12px;
  border: none;
}

.sugestoes {
  position: absolute;
  width: 20%;
  top: 21%;
  left:56%;
  max-height: 200px;
  overflow-y: auto;
  color: #2a2a2a;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15); 
  border: 2px solid #333;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  z-index: 9999;
}

.sugestoes li {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;
}
.sugestoes li.ativo {
  background: #cfd8ff;
  border-left: 4px solid #4a63ff;
}

.sugestoes li:hover {
  background: rgba(255,255,255,0.25);
  color: #fff;
}

.sugestoes img {
  image-rendering: pixelated;
}

.pokeIcon{
  position:relative;
  display:flex;
  align-items:center;
  padding: 0px 4px;
}


.pokeIcon::before{
  content:"";
  position:absolute;
  left:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,0.4);
}
.pokeIcon::after{
  content:"";
  position:absolute;
  right:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,0.8);
}

.imgWrapper{
  position:absolute;
  top:15%;
  left:60%;
  width:50%;
  animation:subirDescer 1s infinite alternate;
  z-index: 5;
}

.imgPoke{
  width:100%;
  transition:transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;

} 

.imgWrapper{
  position:absolute;
  top:15%;
  left:60%;
  width:50%;
  animation:subirDescer 1s infinite alternate;
  overflow: hidden;
}

.imgPoke{
  width:100%;
  transition:transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;
} 

@keyframes subirDescer {
  from {
    transform: translateY(-20px)  rotate(-15deg);
  }

  to {
    transform: translateY(15px);
  }
}

.imgPoke.saindo-direita{
  transform:translateX(120%);
  opacity:0;
}

.imgPoke.saindo-esquerda{
  transform:translateX(-120%);
  opacity:0;
}

.imgPoke.entrando-direita{
  transform:translateX(120%);
}

.imgPoke.entrando-esquerda{
  transform:translateX(-120%);
}

.identidade {
  position: absolute;
  background-color: #1e3a5f;
  border: 4px solid #60a5fa;
  border-radius: 10px; 
  top: 52.8%;
  left: 25%;
  width: 50%;
  height: 5.5%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-evenly;
}

.nome {
  font-family: "Jersey 10", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 2.3em;
  color: white;
  margin: 0;
}

.id {
  font-weight: 500;
  margin-right: 1em;
  font-size: 1.5em;
}

.type {
  display: flex;
  gap: 1em;
}

.tipo{
  width: fit-content;
  margin: 0;
  padding: 1px 20px;
  font-size: 1.2em;
  border-radius: 9px;
}

.stats{
  width: 60%;  
  background:#2a2a2a;
  border-radius: 12px;
    border:2px solid #444;
    overflow: hidden;
    margin: 7px;
    z-index: 10;
}

.stat{
  display:flex;
  align-items:center;
  font-family: "Jersey 10", sans-serif;
  width: 100%;
  height: 35px;
}

.statNome{
  width: 90px;
  font-size: 22px;
  text-transform:uppercase;
}

.barra{
  width:120px;
  height:12px;
  background:#ddd;
  border-radius:10px;
  overflow:hidden;
}

.barraPreencher{
  height:100%;
  background:#4caf50;
  border-radius:10px;
  transition:width 0.3s;
}

.statNumero{
  font-size: 22px;
  width:40px;
}

.btnPrev,
.btnNext{
  position:absolute;
  font-size:2.5em;
  color:#00bfff;
  cursor:pointer;
  border:none;
  margin: 0;
  padding: 0;
  background: transparent;
  text-shadow:
    0 0 5px #0096ff,
    0 0 10px #0096ff,
    0 0 20px #0096ff;
  transition:transform 0.2s, text-shadow 0.2s;
}

.btnPrev{
  left:64%;
  bottom:20.5%;
}

.btnNext{
  right:22%;
  bottom:20.5%;
}

.btnPrev{
  animation:setaEsquerda 1.2s infinite;
}

.btnNext{
  animation:setaDireita 1.2s infinite;
}

@keyframes setaDireita{
  0%{transform:translateX(0)}
  50%{transform:translateX(6px)}
  100%{transform:translateX(0)}
}

@keyframes setaEsquerda{
  0%{transform:translateX(0)}
  50%{transform:translateX(-6px)}
  100%{transform:translateX(0)}
}

.btnPrev:hover,
.btnNext:hover{
  transform:scale(1.2);
  text-shadow:
    0 0 10px #00c8ff,
    0 0 20px #00c8ff,
    0 0 40px #00c8ff;
}

.dica{
  position:absolute;
  top:8%;
  right:20%;
  background:#333;
  border: 2px solid #fff;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  font-size:1em;
  letter-spacing:1px;
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  z-index: 999;
  animation:hintPop 5s forwards;
}

@keyframes hintPop{

  0%{
    opacity:0;
    transform:translateY(20px);
  }

  10%{
    opacity:1;
    transform:translateY(0);
  }

  80%{
    opacity:1;
  }

  100%{
    opacity:0;
  }

}


@media (max-width:768px){

  body {
    width: 100vw;
    overflow: hidden;
    min-height: 100dvh;
  }

  .pokedex{
  width: 90vw;
  height: 70dvh;
}


.tela{
  position: absolute;
  top: 26.3%;
  left: 17.5%;
  width: 65%;
  height: 23%;
}

.identidade {
  border: 2px solid #60a5fa;
  position: absolute;
  top: 52%;
  left: 11%;
  width: 78%;
  height: 5.5%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-evenly;
  overflow-x: hidden;
}


.dica{
  top: 0%;
  right:0%;
}

.nome {
  font-weight: 400;
  font-size: 30px;
  margin-right: 3px;
}

.id {
  font-weight: 200;
  margin-right: 5px;
  font-size: 18px;
}

.type {
  display: flex;
  gap: 5px;
}

.tipo{
  padding: 1px 7px;
  font-size: 12px;
  border-radius: 6px;
}

.stats{
  width: 68%;  
  margin: 2px;
  padding: 2px;
}

.stat{
  width: 100%;
  height: 20px;
}

.statNome{
  width: 70px;
  font-size: 16px;
  text-transform: lowercase;
}

.barra{
  width:70px;
  height:8px;
}

.statNumero{
  font-size: 18px;
  width:40px;
}

.btnPrev,
.btnNext{
  font-size: 25px;
  text-shadow:
    0 0 5px #0096ff,
    0 0 10px #0096ff,
    0 0 20px #0096ff;
}

.btnPrev{
  left:72.5%;
  bottom:23.8%;
}

.btnNext{
  right:9.5%;
  bottom:23.8%;
}

.barraPesquisa {
  width: 48%;
  top: 22%;
  left: 39%;
  height: 2.5%;  
}

.sugestoes {
  width: fit-content;
  top: 24.5%;
  left:41%;
  max-height: 143px;
}

.sugestoes li {
  gap: 8px;
  padding: 0px 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
}
.pokeIcon{
  position:relative;
  display:flex;
  align-items:center;
  padding: 0px 0px;
}


.pokeIcon::before{
  content:"";
  position:absolute;
  left:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,1),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,1);
}
.pokeIcon::after{
  content:"";
  position:absolute;
  right:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,1),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,1);
}

.imgWrapper{
  position:absolute;
  top:25%;
  left:68%;
  width:35%;
  animation:subirDescer 1s infinite alternate;
  z-index: 5;
}

.imgPoke{
  width:100%;
  transition:transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;

} 
}

@media (max-width:480px) {
    body {
    width: 100vw;
    overflow: hidden;
    min-height: 100dvh;
  }

  .pokedex{
  width: 90vw;
  height: 80dvh;
}


.tela{
  position: absolute;
  top: 25%;
  left: 17%;
  width: 66%;
  height: 24.5%;
}

.identidade {
  border: 2px solid #60a5fa;
  position: absolute;
  top: 52.5%;
  left: 11.5%;
  width: 76.5%;
  height: 5.5%;
  padding: 0 5px;
  border-radius: 0px;
  overflow-x: hidden;
}

.nome {
  font-weight: 400;
  font-size: 30px;
  margin-right: 3px;
}

.id {
  font-weight: 200;
  margin-right: 5px;
  font-size: 18px;
}

.type {
  display: flex;
  gap: 5px;
}

.tipo{
  padding: 1px 7px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 400;
  color: #fff;
}

.stats{
  width: 68%;  
  margin: 2px;
  padding: 2px;
}

.stat{
  width: 100%;
  height: 22px;
}

.statNome{
  width: 70px;
  font-size: 16px;
  text-transform: uppercase;
}

.barra{
  width:70px;
  height:8px;
}

.statNumero{
  font-size: 16px;
  width:40px;
}

.btnPrev,
.btnNext{
  font-size: 22px;
  text-shadow:
    0 0 10px #0096ff,
    0 0 15px #0096ff,
    0 0 25px #0096ff;
}

.dica{
  top: 0%;
  right:0%;
}

.btnPrev{
  left:72.5%;
  bottom:22.7%;
}

.btnNext{
  right:9.5%;
  bottom:22.7%;
}

.barraPesquisa {
  width: 47.8%;
  top: 20.7%;
  left: 38.5%;
  height: 2.5%;  
}

.sugestoes {
  width: fit-content;
  top: 24.5%;
  left:41%;
  max-height: 143px;
}

.sugestoes li {
  gap: 8px;
  padding: 0px 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
}
.pokeIcon{
  position:relative;
  display:flex;
  align-items:center;
  padding: 0px 0px;
}


.pokeIcon::before{
  content:"";
  position:absolute;
  left:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,1),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,1);
}
.pokeIcon::after{
  content:"";
  position:absolute;
  right:0;
  top: 6px;
  bottom:6px;
  width:1px;
  background:linear-gradient(
    transparent,
    rgba(255,255,255,1),
    transparent
  );
  box-shadow:0 0 15px 0.5px rgba(255,255,255,1);
}

.imgWrapper{
  position:absolute;
  top:25%;
  left:68%;
  width:35%;
  animation:subirDescer 1s infinite alternate;
  z-index: 5;
}

.imgPoke{
  width:100%;
  transition:transform 0.3s ease, opacity 0.3s ease;
  z-index: 2;

} 
}